<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6525.0" authCookieName=".SFAUTH-Sitefinity10" rolesCookieName=".SFROLES-Sitefinity10" validationKey="F7A85D26AF0BBF97631B081C339EAF24D9EC7A657BAE9D9937C82D9E58ED85A667A3B2E0E39D2100E0EC4DB871A4A302E3EB4222C465D8223F84D79524C78091" decryptionKey="CDDB2483B6E37CA44A32F04C8EC34BB7BDF380089AA23205B0FFCE790B900EF5" loggingCookieName=".SFLOG-Sitefinity10">
	<securityTokenIssuers>
		<add key="39148AA5FDE2AC7B973B5ED6394DFEDBB7636B07D2AD7DC8E3EAC4C194052F14" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="39148AA5FDE2AC7B973B5ED6394DFEDBB7636B07D2AD7DC8E3EAC4C194052F14" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="7246b91d-3ea1-4b4d-a873-2e13debd366d" name="Everyone" config:flags="1" />
		<role id="19a981cc-32de-49d8-a48c-99d8ded6ebf2" name="Anonymous" config:flags="1" />
		<role id="c55ebf51-262e-433f-930a-2c1a722388cb" name="Authenticated" config:flags="1" />
		<role id="5530767c-9a37-491f-b5b2-0a302c4c5589" name="Owner" config:flags="1" />
		<role id="7522c695-e690-479f-bd99-9cdcb29c09c5" name="Administrators" config:flags="1" />
		<role id="e2b1394e-768b-46d0-aebc-8cc0b0798e4e" name="BackendUsers" config:flags="1" />
		<role id="ac8565d9-3e62-45fd-a8bd-12ba62fa840a" name="Authors" config:flags="1" />
		<role id="5159f310-0daa-4211-9ba9-854c9630febd" name="Editors" config:flags="1" />
		<role id="e61a4bb0-fae7-47a1-9ab4-e6273414c2d5" name="Designers" config:flags="1" />
		<role id="000aa281-5c30-4e49-be64-fc068666b9f1" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>